.currentWeatherContainer {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.currentWeather {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.condition {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.condition img {
	width: 100px;
	height: 100px;
}

.condition p {
	font-size: 18px;
}

.temperature {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	gap: 10px;
}

.realTemperature {
}

.apparentTemperature {
	font-size: 16px;
}

.maxMinTemperature {
	font-size: 20px;
}

.weatherMetrics {
	display: flex;
	justify-content: center;
	gap: 20px;
	font-size: 16px;
}

.weatherMetrics > div {
	display: flex;
	align-items: center;
}

.weatherMetrics p {
	margin-left: 5px;
}

.hourlyWeatherContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hourlyForecast {
	width: 60%;
	font-size: 14px;
	overflow: auto;
	white-space: nowrap;
}

.hourlyForecast li {
	display: inline-block;
	padding: 10px;
}
