.settingsContainer {
	display: flex;
	justify-content: center;
	text-align: left;
}

.settingsContainer h3 {
	font-weight: bold;
}

.settingsContainer label {
	font-size: 24px;
}

.settingsWrapper {
	width: 60%;
	line-height: 2;
}

.settingsHeader {
	display: flex;
	justify-content: space-between;
}

.settingsHeader button {
	height: 35px;
	width: 35px;
	border-radius: 4px;
	border: none;
	background-color: rgb(218, 218, 218);
	cursor: pointer;
}

.settingsHeader button.dark {
	background-color: #444444;
}

.closeModalBtn {
	width: 25px;
	height: 25px;
}

.settingsOptions {
	font-size: 18px;
}

.settingsOptions label {
	font-size: 16px;
}
